WindowsFormsApp1/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PersonService.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PersonService.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PersonRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellPhoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonRequest" nillable="true" type="tns:PersonRequest" />
  <xs:complexType name="PersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CellPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonResponse" nillable="true" type="tns:PersonResponse" />
</xs:schema>