WindowsFormsApp1/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62893/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PersonService.DTOs" />
  <xs:element name="GetPersonByCellPhoneNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PersonService.DTOs" minOccurs="0" name="request" nillable="true" type="q1:PersonRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonByCellPhoneNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PersonService.DTOs" minOccurs="0" name="GetPersonByCellPhoneNumberResult" nillable="true" type="q2:PersonResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>